.imagem-fullscreen {
    position: relative;
    background-image: url('../assets/img/HomeTestCopia.png');
    /* object-fit: cover; */
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%; 
    /* height: auto; */
    background-size: cover; 
    margin-bottom: 5rem;
}

.container-img-text {
    font-family: 'Epilogue', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    margin: 0;
    padding: 0;
}

.text-main {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* flex-direction: column; */
    /* width: 86%; */
}

.texto-sobreposicao,
.texto-superior {
    font-family: 'Epilogue', sans-serif;
    width: 100%;
    box-sizing: border-box;
    box-sizing: border-box; /* Garante que o preenchimento e a borda não aumentem a largura total */
    width: 100%; 
    /* padding: 0 66px;  */
}

.texto-superior {
    margin-bottom: 16px;
    font-size: 0.8rem;
    color: #7E8284;
    font-weight: bold;
    text-transform: uppercase;
}

.texto-sobreposicao {
    font-size: 3.4rem; 
    /* font-family: 'LOVELO', sans-serif; */
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 2px 4px 0px rgba(0, 0, 0, 0.2);
}

.linha-horizontal {
    margin-bottom: 35px;
}

.linha-horizontal hr {
    width: 20rem;
    border-color: #ffd26b;
}

.btn-img {
    display: flex;
    justify-content: center;
}

.container-master {
    padding: 0 15%;
}

.text-title {
    color: var(--cor-primaria);
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
}

.text-p {
    color: #666C89;
    text-align: justify;
}

.img-segunda {
    width: 100%;
    height: auto;
}

.title-container-cards {
    display: flex;
    justify-content: center;
}

.cards-container {
    background-color: var(--cor-primaria);
}


@media (max-width: 1024px) {
    .texto-superior {
        font-size: 0.9rem; /* Reduza o tamanho da fonte para telas menores */
    }

    .texto-sobreposicao {
        font-size: 1rem; /* Ajuste o tamanho da fonte baseado na largura da tela */
    }

    .text-sobre {
        padding: 0 10%; /* Reduza o preenchimento lateral para mais espaço */
    }
}

@media (max-width: 425px) {
    .texto-superior {
        font-size: 0.75rem; /* Reduza ainda mais o tamanho da fonte para telas muito pequenas */
    }
    
    .texto-sobreposicao {
        font-size: 5.5vw; /* Continue ajustando o tamanho da fonte */
    }
    
    .text-sobre p {
        font-size: 0.9rem; /* Ajuste o tamanho da fonte do parágrafo */
    }
}


