.moderador-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 220px;
  background-color: var(--cor-primaria);
  color: white;
  padding: 20px;
  height: 100%;
  position: fixed;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
  color: white;
  margin-bottom: 55px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
  background-color: #283593;
}

.sidebar ul li a.active {
  background-color: var(--cor-secundaria-yellow);
  font-weight: bold;
  color: #fff;
  border-left: 4px solid #ffffff; /* Adiciona uma borda na esquerda */
}

.content {
  margin-left: 240px;
  padding: 20px;
  width: calc(100% - 240px);
  overflow-y: auto;
}

.logout-button {
  background-color: #dc3545; /* Vermelho para o botão de sair */
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  /* text-align: left; */
  padding-left: 0;
  padding-right: 0;
  font-size: 1rem;
  margin-top: 450px;
}

.logout-button:hover {
  background-color: #c82333;
}
