/* Estilos para o componente de upload de arquivo */
.file-upload {
    text-align: center;
    border: 2px dashed gray;
    height: 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
  }
  
  .upload-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .upload-button:hover {
    background-color: #0056b3;
  }
  
  .selected-file {
    display: flex;
    margin-top: 10px;
    font-size: 14px;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  