.Header {
    backdrop-filter: blur(8px); /* Aplica o efeito de desfoque */
    background-color: rgba(17, 28, 85, 0.2);
    position: fixed; 
    width: 100%; 
    z-index: 1000; 
    color: var(--cor-texto);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-logo {
    font-family: 'Galada', cursive; 
    margin-left: 7rem;
}

nav {
    gap: 42px;
    display: flex;
    align-items: center;  
    margin-right: 5rem;
}


.Header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.Header nav ul li {
    margin-right: 3rem;
}

.Header nav ul li:last-child {
    margin-right: 0;
}

li a {
    color: var(--cor-texto);
    text-decoration: none;
    transition: color 0.3s ease;
}

ul li a:hover {
    color: #a52222;
}

/* Media queries para responsividade */
@media (max-width: 768px) {
    .Header {
        flex-direction: column;
        padding: 10px;
    }

    .nav-bar {
        margin-right: 0; /* Removido para ajustar ao layout de coluna */
    }

    .Header nav ul {
        flex-direction: column;
        align-items: center;
    }

    .Header nav ul li {
        margin-right: 0; /* Removido para ajustar ao layout de coluna */
        margin-bottom: 10px; /* Espaçamento entre os itens do menu */
    }

    .Header nav ul li:last-child {
        margin-bottom: 0; 
    }
}
