.info-servico {
  padding: 20px;
  background-color: var(--cor-texto);
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.title-servico {
  color: var(--cor-primaria);
  font-size: 1.5rem;
  font-weight: 600;
  margin: 20px;
}

.filter-container {
  margin-bottom: 20px;
}

.filter-status {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  width: 55%;
}

.filter-status span {
  margin-right: 15px;
  cursor: pointer;
  padding-bottom: 5px;
}

.filter-status span.active {
  border-bottom: 2px solid var(--cor-secundaria-yellow);
  font-weight: bold;
}

.filter-search {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  flex-direction: row;
}

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.search-button {
  background-color: var(--cor-secundaria-yellow);
  border: none;
  padding: 8px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 34px;
}

.filter-search .input-search {
  padding: 8px;
  border: 1px solid #ddd;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: none;
  margin-right: 10px;
  width: 35%;
}

.filter-search .input-search::placeholder {
  color: var(--cor-texto-secundario); 
  opacity: 1; 
}

.filter-search select {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.servicos-list {
  margin: 20px 0;
}

.servico-card {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  cursor: pointer;
}

.servico-card:hover {
  background-color: #f1f1f1;
}

.servico-info-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.servico-info-row strong {
  color: var(--cor-primaria);
  flex: 1;
  text-align: center;
}

.servico-info-row p {
  flex: 1;
  text-align: center;
  margin: 0;
  color: var(--cor-texto-secundario);
}

.status-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.status-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
