.usuario-container {
  display: flex;
  margin-left: 100px; /* Espaço entre a borda esquerda e o sidebar */
}

.sidebar-user {
  width: 250px;
  background-color: var(--cor-texto);
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  position: fixed;
  height: 100%;
}

.sidebar-user-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar-user-item:hover {
  background-color: #e9ecef;
}

.sidebar-user-item svg {
  font-size: 24px;
  margin-right: 10px;
}

.sidebar-user-item span {
  font-size: 16px;
  color: #333;
}

.content {
  height: 100vh;
}

.content-user {
  margin-left: 280px; /* Espaço entre o sidebar e o conteúdo */
  padding: 20px;
  flex-grow: 1;
}
