.register-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  
  .register-form {
    gap: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 370px;
    padding: 20px;
    background: #111c55;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .register-input {
    background-color: transparent;
    margin-bottom: 10px;
    width: 88%;
    height: 3.2rem;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
    color: #fff;
  }

  input::placeholder {
    color: #fff;
    padding-left: 7px;
  }
  
  .register-button {
    width: 88%;
    height: 3.2rem;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background: var(--cor-secundaria);
    color: white;
    cursor: pointer;
  }

.p-text {
  color: var(--cor-texto);
}
 
.container-other-register {
  width: 89%;
}

.register-google, .register-email {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  color: var(--cor-texto-secundario);
  padding: 10px;
  border-radius: 50px;
  margin-bottom: 13px;
}

.register-apple{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #000;
  color: var(--cor-texto);
  padding: 11px;
  border-radius: 50px;
  margin-bottom: 13px;
}

.register-email {
  border: 2px solid var(--cor-texto-secundario);
}

.icon-google, .icon-apple, .icon-email {
  width: 24px;
  margin-right: 50px;
}